* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden !important;
  width: 100vw !important;
}

/* Navbar Section */
header {
  border-bottom: 1px solid #cccccc83;
  padding: 10px 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 10px auto;
}

nav img[alt="logo"] {
  width: 150px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

nav li img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

#burger {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: none;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  list-style: none;
  color: #666;
  font-size: 14px;
  letter-spacing: 1.5px;
}

header nav ul li:hover {
  color: rgb(35, 131, 255);
  transition: all 0.3s;
  cursor: pointer;
}

/* Main Section */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-inline: 10px;
}
main img {
  width: 960px;
  height: 404px;
  object-fit: contain;
  margin-block: 40px;
}

#main-cont h2 {
  font-size: 44px;
  color: #424242;
  font-weight: 500;
  margin-bottom: 13px;
}

#main-cont p {
  font-size: 20px;
  color: #424242;
  margin-bottom: 30px;
  line-height: 1.75;
}

#main-cont button {
  background-color: #387ed1;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 12px 30px;
  font-size: 20px;
  font-weight: 500;
}

#main-cont button:hover {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
}

/* Features Section */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 100px auto;
  color: #424242;
}

.left h3 {
  font-size: 32px;
  margin-bottom: 40px;
}

.left h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.left p {
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 2;
  color: #424242bc;
}

.right > img {
  width: 600px;
  height: 600px;
  object-fit: contain;
}

.right #links span img {
  width: 25px;
  /* filter: invert(1); */
  color: #387ed1;
  margin-top: 5px;
  padding-inline: 6px;
}

.right #links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.right #links a {
  color: #387ed1;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
